---
import sortBy from "lodash/sortBy.js";
import Discord from "simple-icons/icons/discord.svg";
import Spring from "simple-icons/icons/spring.svg";
import Button from "../../components/Button.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import Headline from "../../components/Headline.astro";
import MemberCard from "../../components/MemberCard.astro";
import Octocat from "../../components/Octocat.astro";
import github from "../../github.json";
import BaseLayout from "../../layouts/BaseLayout.astro";

const members = github.members;
const contributors = sortBy(github.contributors, ["contributions"]).reverse();
---

<BaseLayout
  title="Srcery Theme - Community activities and communications"
  description="Engage with the Srcery community, meet us on Discord or contribute!"
>
  <Octocat />
  <div class="flex grow justify-center p-4">
    <main
      class="flex max-w-[448px] min-w-0 flex-col items-center sm:max-w-[780px]"
    >
      <Header activePage="community" />
      <section class="w-full flex flex-col gap-10">
        <div class="flex flex-col gap-4">
          <Headline title="Discord">
            <span id="discord-online" class="text-xs text-white tracking-[2px] flex items-center gap-1"></span>
          </Headline>
          <p class="text-justify text-white">
            We run a Discord server for those interested. You're welcome to join
            us there if you have any burning questions or just wanna say hi.
          </p>
          <div>
            <Button
              url="https://discord.gg/G6vBMmZ"
              >
              <div class="flex">
                <Discord class="fill-bright-white mr-4" width="16px"></Discord>
                Go to Discord
              </div>
            </Button>
          </div>
        </div>

        <div class="flex flex-col gap-4">
          <Headline title="Merchandise"></Headline>
          <p class="text-justify text-white">
            Get our merchandise featuring the Srcery color scheme!
            We're not making any profit from the sales, so you are instead
            showing your support by wearing and using the merch. Thank you for
            helping us develop and improve our color scheme.
          </p>
          <div class="">
            <Button
              url="https://srcery-colors.creator-spring.com"
            >
            <div class="flex">

              <Spring class="fill-bright-white mr-4" width="16px"></Spring>
              Go to the store
            </div>
            </Button>
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <Headline title="Community">
          </Headline>
          <p class="text-justify text-white">
            Srcery is, by and large, a community effort. There's been numerous
            contributions and themes created by industrious maintainers and
            contributors, so thanks to everyone listed below.
          </p>
        </div>

        <div class="flex flex-col gap-4">
          <Headline title="Core team" text_size="text-sm">
          <span class="text-xs text-white tracking-[2px]">{members.length} members</span>
          </Headline>
          <div
            class="grid grid-cols-1 justify-items-center gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
            >
            {
            members.map((user) => (
            <MemberCard url={user.html_url} avatarUrl={user.avatar_url} name={user.login} member={true}>
            </MemberCard>
            ))
            }
          </div>
        </div>
        <div class="flex flex-col gap-4">
          <Headline title="Contributors" text_size="text-sm">
            <span class="text-xs text-white tracking-[2px]">{contributors.length} members</span>
          </Headline>
          <div
            class="grid grid-cols-1 justify-items-center gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
            >
            {
            contributors.map((user) => (
            <MemberCard url={user.html_url} avatarUrl={user.avatar_url} name={user.login}>
            </MemberCard>
            ))
            }
          </div>
        </div>
      </section>
    </main>
  </div>
  <Footer />
</BaseLayout>

<script>
  const GUILD_ID = "714101903377694741";
  fetch(`https://discord.com/api/guilds/${GUILD_ID}/widget.json`)
    .then((r) => r.json())
    .then((data) => {
      const el = document.getElementById("discord-online");
      if (el && data.presence_count != null) {
        el.innerHTML = `<span class="text-green-400">&#9679;</span> ${data.presence_count} online`;
      }
    })
    .catch(() => {});
</script>
